flask
flask-limiter
flask-login
flask-mail
flask-recaptcha
flask-caching
flask-talisman
redis
requests
dnspython
python-whois
selenium
qrcode
pdfkit
shortuuid
virustotal-python
python-telegram-bot
websocket-client